<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col" [@bounce]="bounce">
        <div class="card" style="width: 38rem;">
          <img src="assets/ZipDevLogo.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Welcome to CC For ZipDev</h5>
            <p class="card-text text-center">If you wish to start the test go ahead and click Start</p>
            <a class="btn btn-primary" (click)="clickStart()">Start</a>
          </div>
        </div>
      </div>
      <div class="col">
        
      </div>
    </div>
</div>
